@import url(https://fonts.googleapis.com/css?family=Roboto:300);

table{
    height: 400px;
}



body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
  
  footer {
    padding: 0.5% 5%;
    text-align:center;
    background-color: #373B44;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}
 h2, h3 {
    font-weight: 900;
    color: white;
}

h1 {
    color: black;
    font-weight: 900;
}

p {
    font-size: 20px;
}