@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    margin: 0%;     
  }
  
  footer {
    padding: 0.5% 5%;
    text-align:center;
    background-color: #373B44;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

h1, h2, h3 {
      color: white;
  }
  
  #chartContainer, #chartContainer1{
    height: 370px;
     width: 50%;
    }

    p {
      font-size: 20px;
    }