@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
    --border-color: #999999;
    --form-color: rgba(0, 0, 0, .7);
    --label-color: #fff;
    --bg-color: #101010;
    --bg-color-2: #202020;
  }

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
  
  footer {
    text-align:center;
    background-color: #373B44;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}

    

h1,h2,h3{
    color: #222;
    width: 100%;
    font-family: Georgia, serif;
    color: var(--label-color);

}
p {
    font-size: 20px;
}

.form-check-input {
    margin-left: 0;
    position: relative;
}

thead {
   
    text-align: center;
  }

  .form-control{
	padding:10px 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--form-color);
    color: var(--label-color);
    font-family: sans-serif;
  }

  .fd{
	width:100%;
	margin:auto;
	max-width:785px;
	min-height:570px;
	position:relative;
	background:url(https://images.unsplash.com/photo-1558021211-6d1403321394?ixlib=rb-1.2.1&auto=format&fit=crop&w=1068&q=70) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border: 1px solid var(--border-color);
}

.fd .card{
    margin: 2%;
    background: var(--form-color)
    
}

label{
    display: block;
    color: var(--label-color);
    font-size: 80%;
  }

  fieldset {
    width: 80%;
    border: 1px solid var(--form-color);
    border-radius: 15px;
  }
  fieldset legend {
    background: var(--border-color);
    color: var(--label-color);
    text-shadow: 2px 2px 4px var(--form-color);
    border-radius: 10px;
    padding: 0 .5em;
  }