@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
  

h1, h2 {
  font-weight: 900;
}

h2 {
  color: white;
}

p {
  font-size: 20px;
}
  
#doughnut-chart, #bar-chart-grouped {
  width: 50%; 
  height: 450px;
  background-color: white;
}

p {
      font-size: 20px;
  }

  .w-45 {
    width: 45%!important;
}