@import url(https://fonts.googleapis.com/css?family=Dosis:200,400);
* {
  outline: none;
}

*, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2em;
  font-weight: 200;
  font-family: 'Dosis', sans-serif;
  -webkit-text-size-adjust: 200%;
     -moz-text-size-adjust: 200%;
      -ms-text-size-adjust: 200%;
          text-size-adjust: 200%;
  color: black;
  background-color: white;
}

h1 {
  font-size: 2em;
  font-weight: 200;
  text-shadow: 0 1px 1px black;
}

#aside, #wrapper {
  float: left;
  height: 100vh;
}

#aside {
  width: 30%;
  background-color: black;
  background-image: linear-gradient(left, transparent, rgba(255, 255, 255, 0.2));
}

#wrapper {
  margin-left: 25px;
}

form {
  height: 280px;
  position: relative;
  top: 50%;
  margin-top: -140px;
}
form .row {
  overflow: auto;
  margin: 10px 0;
}
form .row.inputtxt {
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.row.inputtxt label, .row.inputtxt input {
  float: left;
  display: inline-block;
}
.row.inputtxt label {
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.75);
  text-align: right;
}
.row.inputtxt input {
  transition: .3s ease;
  font: inherit;
  text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.03);
  width: 35ex;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding: 0 0 5px 5px;
}
.row.inputtxt input:focus {
  outline: none;
  transition: .3s ease;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.08);
  transition: border-color .9s ease;
  border-color: rgba(0, 0, 0, 0.7);
}

.row.btn input, .row.btn button {
  font: inherit;
  color: inherit;
  border: none;
  display: inline-block;
  float: left;
  min-width: 100px;
  margin: 5px;
  padding: 5px;
  transition: background-image .3s ease-out;
  background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.08));
}
.row.btn input[type="submit"] {
  background-color: darkgreen;
  color: white;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
}
.row.btn input[type="button"] {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: silver;
}
.row.btn input:hover, .row.btn button:hover {
  transition: 3s;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
}
a:link
{
text-decoration:none;
}