<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/base::head('Alumnos','alumno')"></head>

<body>
  <header th:replace="layouts/base::header()"></header>

  <div class="container mt-3 mb-3 fd animated bounceInDown">
    <div class="fc">
      <div class="col-6">
        <h1 class="pt-3 pl-5 animated bounce">Estudiantes</h1>
        <hr class="mr-4 ml-3" />
      </div>
      <div class="card mt-md-3 animated bounce">
        <div class="card-header">
          <h2 class="card-title ml-4 ">Busqueda de Estudiantes</h2>
        </div>
        <form id="formB sf">
          <div class="card-body">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-user"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="inputNombreBusqueda" placeholder="Nombre del Alumno">
            </div>

            <div class="form-group input-group">

              <select class="form-control" id="inputCurso">
                <option value="nn" selected>Seleccionar el Curso</option>
              </select>

              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-pushpin"></i>
                </span>
              </div>
            </div>

          </div>
          <div class="card-footer text-center">
            <button type="submit" class="btn btn-light" id="btn1">Buscar </button>
            <button type="button" class="btn btn-light" id="limpiar">Limpiar</button>
          </div>
        </form>
      </div>

      <div class="card mt-md-5 mt-md-3 animated bounce">
        <div class="card-header">
          <h2 class="card-title">Resultados de la busqueda</h2>
        </div>
        <div class="card-body">
          <div class="form-group" role="group">
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal3"
              data-titulo="Nuevo Estudiante" data-boton="Crear" id="btnCrear">Nuevo Estudiante</button>
            <button type="button" class="btn btn-outline-light" data-toggle="" data-target="#myModal3"
              data-titulo="Datos Personales del Estudiante" data-boton="Modificar" id="btnEditar">Datos
              personales</button>
            <button type="button" class="btn btn-outline-light" data-toggle="" data-target="#myModal4"
              id="btnclases">Clases</button>
            <button type="button" class="btn btn-outline-light" id="btnbaja">Dar de baja</button>
          </div>
          <div class="form-group">
            <div class="table-responsive">
              <table class="table table-bordered table-light " id="A-tabla">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Fecha alta</th>
                    <th scope="col">Fecha baja</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <!-- The Modal -->
    <div class="modal fade" id="myModal3" aria-hidden="true">
      <div class="modal-dialog flipInY animated">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="p-3 mb-2 text-white bg-dark">
            <div class="modal-header">
              <h4 class="modal-title">Nuevo Estudiante</h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="row">
              <div class="col">

                <form id="formNA" th:action="@{#}">
                <div class="col-sm-10">
                  <h5 class="text-dark">Estudiante</h5>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Nombre: </span>
                      </div>
                      <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" required>      
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Primer Apellido: </span>
                      </div>
                      <input type="text" class="form-control" id="inputApellido1" placeholder="Primer Apellido">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Segundo Apellido: </span>
                      </div>
                      <input type="text" class="form-control" id="inputApellido2" placeholder="Segundo Apellido">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">NIF: </span>
                      </div>
                      <input type="number" class="form-control" id="inputNif" placeholder="Nif">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Telefono: </span>
                      </div>
                      <input type="number" class="form-control" id="inputTelefono" placeholder="Telefono [3xxxxx]">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Correo: </span>
                      </div>
                      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Correo" >
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Curso: </span>
                      </div>
                  
                  <select class="form-control" id="CursoAlumno"></select>
                </div>

                <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Repetidor  
                                <input type="checkbox" class="checking form-check-input" id="inputRepetidor">
                            </span>                         
                          </div>
                               
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Fecha de alta: </span>
                      </div>
                      <input type="date" class="form-control" id="inputFechaAlta" readonly>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> Fecha de baja :  </span>
                      </div>
                          <input type="date" class="form-control" id="inputFechaBaja" readonly>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-text">Observaciones</span>              
                  <textarea class="form-control" id="inputObservaciones" rows="3"></textarea>
                </div>
              </form>
              </div>

            <div class="col col md-6"> 
              <form id="formNR" th:action="@{#}" method="post">
                  <div class="col-sm-11 ml-2">
                    <h5 class="text-dark">Responsable</h5>
                  </div>

                  <div class="form-group input-group ">
                    <input type="text" class="form-control" id="inputNombreResponsable"
                      placeholder="Nombre del responsable">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> Nombre: </span>
                    </div>
                  </div>

                  <div class="form-group input-group">
                    <input type="text" class="form-control" id="inputApellido1Responsable"
                      placeholder="Primer Apellido del responsable">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> Primer Apellido</span>
                    </div>

                  </div>

                  <div class="form-group input-group">
                    <input type="text" class="form-control" id="inputApellido2Responsable"
                      placeholder="Segundo Apellido del responsable">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> Segundo Apellido</span>
                    </div>
                  </div>

                  <div class="form-group input-group">
                    <input type="number" class="form-control" id="inputNifResponsable" placeholder="Nif del resposable">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> NIF</span>
                    </div>
                  </div>

                  <div class="form-group input-group">
                    <input type="number" class="form-control" id="inputTelefonoResponsable"
                      placeholder="Telefono del responsable [3xxxxx]">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> Telefono</span>
                    </div>
                  </div>

                  <div class="form-group input-group">
                    <input type="email" class="form-control" id="inputEmailResponsable" aria-describedby="emailHelp"
                      placeholder="Correo del responsable">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> Correo</span>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">

            <button type='button' class='btn btn-dark' id='botonAceptar'>Aceptar</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section>

    <!-- The Modal -->
    <div class="modal fade" id="myModal4" aria-hidden="true">
      <div class="modal-dialog flipInY animated">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="p-3 mb-2 text-white bg-dark">
            <div class="modal-header">
              <h4 class="modal-title">Clases del Estudiante</h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
          </div>


          <!-- Modal body -->
          <div class="modal-body">
            <h5>Clases disponibles para el alumno</h5>
            <div class="table-responsive">
            <table id="tabla3" class="table table-bordered table-sm text-center table-dark">
              <thead class="thead-dark">

                <tr class="head">
                  <th>Asignatura</th>
                  <th>Profesor</th>
                  <th>Horario</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
            <h5>Horario</h5>
            <div class="table-responsive">
              <table id="tabla2" class="table table-bordered table-sm text-center table-dark">
                <thead class="thead-dark">
                  <tr class="head">
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">08:00-9:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">09:00-10:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">10:00-11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">11:00-12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">12:00-13:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">13:00-14:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">14:00-15:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">15:00-16:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">16:00-17:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">17:00-18:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">18:00-19:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">19:00-20:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">20:00-21:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">

            <button type="button" class="btn btn-dark" data-dismiss="modal">Regresar</button>

          </div>

        </div>
      </div>
    </div>
  </section>

  <footer th:replace="layouts/base::footer('alumno')"></footer>

</body>


</html>