<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Alumnos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/profesor.css}">
  <link rel="stylesheet" th:href="@{/css/alumno.css}">

</head>

<body>
   <header th:replace="layouts/base::header()"></header>

<div class="container">
  <h1>Alumnado</h1>
  <hr/>
  <div class="card">
            <div class="card-header bg-success">
            <h2 class="card-title">Busqueda de Alumnos</h2>
            </div>
          <form id="formB" >
          <div class="card-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputAlumno" placeholder="Nombre del Alumno">
                </div>

                <div class="form-group">
                        <label for="inputCurso">Cursos:</label>
                        <select class="form-control" id="inputCurso">
                          <option >Seleccionar el Curso</option>
                        </select>
                      </div>

                <div class="form-group ">
                        <div class="form-check">
                            <label class="form-check-label" for="dropdownCheck">Mostrar solo actuales</label>
                            <input type="checkbox" class="form-check-input" id="inputCheck">       
                        </div>
                    </div>
         

          </div>
          <div class="card-footer text-center ">
                <button id="btn1" type="submit" class="btn btn-success">Buscar</button>
                <button type="button" class="btn btn-success " id="limpiar">Limpiar</button>
          </div>

           </form > 
    </div>
      <div class="card">
        <div class="card-header bg-success">
          <h2 class="card-title">Resultado de la busqueda</h2>
        </div>
      <div class="card-body">
        <div class="form-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Nuevo Alumno" data-boton="Crear" id="btnnuevo">Nuevo Alumno</button>
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Datos Personales" data-boton="Modificar" id="btneditar">Datos personales</button>
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal4" id="btneditar" disabled>Clases</button>
                  <button type="button" class="btn btn-outline-secondary" id="btnbaja" >Dar de alta/baja</button>
      </div>
    <div class="form-group">
      <table class="table" id="A-tabla" >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Curso</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha alta</th>
            <th scope="col">Fecha baja</th>
          </tr>
      </table>
      </div>
    </div> 
  </div>
</div>

<section>
    <!-- The Modal -->
    <div class="modal" id="myModal3" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="p-3 mb-2 bg-success text-white">
              <div class="modal-header">
                  <h4 class="modal-title">Nuevo Alumno</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
          </div>
         
          <!-- Modal body -->
          <div class="modal-body">              
              <div class="row">
              <div class="col">
              
              <form id="formNA" th:action="@{#}">
                <div class="col-sm-10">
                  <h5 class="text-success">Alumno</h5>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputApellido1" placeholder="Primer Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputApellido2" placeholder="Segundo Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputNif" placeholder="Nif">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputTelefono" placeholder="Telefono">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" >
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="CursoAlumno">Curso</label>
                  <div class="col-sm-10">
                  <select class="form-control" id="CursoAlumno"></select>
                </div>
                </div>
                <div class="form-group ">
                    <div class="form-check">
                        <label class="form-check-label" for="inputRepetidor">Repetidor</label>
                        <input type="checkbox" class="form-check-input" id="inputRepetidor">       
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Fecha Alta</label>
                      <div class="col-sm-10">
                          <input type="date" class="form-control" id="inputFechaAlta" readonly>
                      </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Fecha Baja</label>
                      <div class="col-sm-10">
                          <input type="date" class="form-control" id="inputFechaBaja">
                      </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="exampleFormControlTextarea1">Observaciones</label>
                  <textarea class="form-control" id="inputObservaciones" rows="3"></textarea>
                </div>
              </form>
              </div>

            <div class="col col md-6"> 
              <form id="formNR" th:action="@{#}" method="post">
                <div class="col-sm-10">
                    <h5 class="text-success">Responsable</h5>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputNombreResponsable" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputApellido1Responsable" placeholder="Primer Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputApellido2Responsable" placeholder="Segundo Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputNifResponsable" placeholder="Nif">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="number" class="form-control" id="inputTelefonoResponsable" placeholder="Telefono">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmailResponsable" aria-describedby="emailHelp" placeholder="Enter email" >
                    </div>
                </div>
              </form>
          </div>
             
          </div>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer" id="divmodal1">

            <button type='button' class='btn btn-success modificar' data-dismiss='modal' id='botonAceptar' >Aceptar</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            
          </div>
    
        </div>
      </div>
    </div>
 </section>

 <section>
 
      <!-- The Modal -->
      <div class="modal" id="myModal4" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="p-3 mb-2 bg-success text-white">
                <div class="modal-header">
                    <h4 class="modal-title">Clases</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                  </div>
            </div>
            
      
            <!-- Modal body -->
            <div class="modal-body">
             <h5>Clases disponibles para el alumno</h5><table class="table table-striped table-inverse table-bordered text-center">
                 <thead class="thead-inverse">
                     
                     <tr>
                         <th>Asignatura</th>
                         <th>Profesor</th>
                         <th>Horario</th>
                     </tr>
                     </thead>
                     <tbody>
  
                     </tbody>
             </table>
             <h5>Horario</h5><table class="table table-striped table-inverse table-bordered text-center">
                 <thead class="thead-inverse">
                     
                     <tr>
                         <th>Hora</th>
                         <th>Lunes</th>
                         <th>Martes</th>
                         <th>Miercoles</th>
                         <th>Jueves</th>
                         <th>Viernes</th>
                     </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td scope="row">09:00 - 10:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">10:00 - 11:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">11:00 - 12:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">12:00 - 13:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">13:00 - 14:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                          <td scope="row">14:00 - 15:00</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">15:00 - 16:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">16:00 - 17:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">17:00 - 18:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">18:00 - 19:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">19:00 - 20:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                       <tr>
                         <td scope="row">20:00 - 21:00</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                         <td>-</td>
                       </tr>
                     </tbody>
             </table>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">

              <button type="button" class="btn btn-success ">Guardar</button>
              <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
              
            </div>
      
          </div>
        </div>
      </div>
   </section>

<footer>
    <p>Copyright &copy; Academia</p>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/alumno.js}"></script>
    <script th:src="@{/js/ajaxcomplemento.js}"></script>
</footer>

</body>


</html>