<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head('Mantenimiento de Asignaturas','curso')"></head>

<body>
    <header th:replace="layouts/base::header()"></header>

<div class="container">
  <h1 class="mt-3">Mantenimiento de Asignaturas</h1>
  <hr/>
      <div class="card">
        <div class="card-header bg-success">
          <h2 class="card-title">Asignaturas Actuales</h2>
        </div>
      <div class="card-body">
        <div class="form-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Nueva Asignatura" data-boton="Crear">Nueva Asignatura</button>
                  <button type="button" class="btn btn-outline-secondary" id="btnEditar" data-toggle="" data-target="#myModal3" data-titulo="Modificar Asignatura" data-boton="Modificar">Editar Asignatura</button>
                  <button type="button" class="btn btn-outline-secondary" id="btnbaja">Eliminar Asignatura</button>
      </div>
    <div class="form-group">
      <table class="table" id="A-tabla">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Curso</th>
          </tr>
        </thead>
      </table>
      </div>
    </div> 
  </div>
</div>

<section3>
    
    <!-- The Modal -->
    <div class="modal" id="myModal3" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="p-3 mb-2 bg-success text-white">
              <div class="modal-header">
                  <h4 class="modal-title">Crear Asignatura</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
          </div>
          
    
          <!-- Modal body -->
          <div class="modal-body">              
              <div class="row">
              <div class="col">
                      <div class="form-group">
                          <div class="col">
                            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre de la Asignatura">
                          </div>
                      </div>
                    <div class="form-group">
                      <div class="col">
                        <label for="inputCurso">Cursos:</label>
                        <select class="form-control" id="inputCurso">
                        </select>
                      </div>
                    </div>
            </div>       
          </div>
        </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">

            <button type="button" class="btn btn-success" data-dismiss="modal" id="botonAceptar">Crear</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            
          </div>
    
        </div>
      </div>
    </div>
 </section3>
  
<footer th:replace="layouts/base::footer('asignatura')"></footer>
</body>


</html>