<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head('Mantenimiento de Cursos','curso')"></head>

<body>
     <header th:replace="layouts/base::header()"></header>

<div class="container">
  <h1>Mantenimiento de Cursos</h1>
  <hr/>
      <div class="card">
        <div class="card-header bg-success">
          <h2 class="card-title">Cursos Actuales</h2>
        </div>
      <div class="card-body">
        <div class="form-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Nuevo Curso" data-boton="Crear">Nuevo Curso</button>
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" id="btnEditar" data-titulo="Modificar Curso" data-boton="Modificar">Editar Curso</button>
                  <button type="button" class="btn btn-outline-secondary" id="btnbaja">Eliminar Curso</button>
      </div>
    <div class="form-group">
      <table class="table" id="A-tabla">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nivel</th>
            <th scope="col">Etapa</th>
          </tr>
        </thead>
      </table>
      </div>
    </div> 
  </div>
</div>
<section3>
    
    <!-- The Modal -->
    <div class="modal" id="myModal3" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="p-3 mb-2 bg-success text-white">
              <div class="modal-header">
                  <h4 class="modal-title">Crear Curso</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
          </div>
          
    
          <!-- Modal body -->
          <div class="modal-body">              
              <div class="row">
                <div class="col">
                  <div class="form-group">
                      <div class="col">
                          <label for="inputEtapa">Nivel:</label>
                        <input type="number" class="form-control" id="inputNivel" placeholder="Nivel">
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="col">
                      <label for="inputEtapa">Cursos:</label>
                      <select class="form-control" id="inputEtapa">
                        <option >Primaria</option>
                        <option >Secundaria</option>
                      </select>
                    </div>
                  </div>
            </div>       
          </div>
        </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">

            <button type="button" class="btn btn-success" data-dismiss='modal' id="botonAceptar">Crear</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            
          </div>
    
        </div>
      </div>
    </div>
 </section3>


</body>
<footer th:replace="layouts/base::footer('curso')"></footer>

</html>