<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head('Mantenimiento de Cursos','curso')"></head>

<body>
     <header th:replace="layouts/base::header()"></header>

<div class="container mt-3 mb-3 fd animated bounceInDown">
  <div class="fc">
    <h1 class="pr-3 pl-3 animated bounce">Mantenimiento de Cursos</h1>
    <hr class="mr-3 ml-3"/>
  <div class="card mt-md-3 animated bounce">
        <div class="card-header ">
          <h2 class="card-title ml-4">Cursos Actuales</h2>
        </div>
      <div class="card-body">
        <div class="form-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal3" data-titulo="Nuevo Curso" data-boton="Crear" id="btnCrear">Nuevo Curso</button>
                  <button type="button" class="btn btn-outline-light" data-toggle="" data-target="#myModal3" id="btnEditar" data-titulo="Modificar Curso" data-boton="Modificar">Editar Curso</button>
                  <button type="button" class="btn btn-outline-light" id="btnbaja">Eliminar Curso</button>
      </div>
    <div class="form-group">
    <div class="table-responsive">
      <table class="table table-bordered " id="A-tabla">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nivel</th>
            <th scope="col">Etapa</th>
          </tr>
        </thead>
      </table>
      </div>
    </div>
    </div> 
  </div>
</div>
</div>

<section3>
    
    <!-- The Modal -->
    <div class="modal" id="myModal3" aria-hidden="true">
      <div class="modal-dialog flipInY animated">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="p-3 mb-2 text-white bg-dark">
              <div class="modal-header ">
                  <h4 class="modal-title ">Crear Curso</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
          </div>
          
    
          <!-- Modal body -->
          <div class="modal-body">              
            <div class="col">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nivel:</span> 
                </div>  

                <input autocomplete="off" type="text" class="form-control" id="inputNivel" placeholder="Nivel">
              </div>

                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Cursos:</span> 
                  </div>

                  <select class="form-control" id="inputEtapa">
                    <option >Primaria</option>
                    <option >Secundaria</option>
                  </select>

                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-pushpin"></i>
                    </span>
                  </div>
                </div>

            </div>                  
          </div>       
    
          <!-- Modal footer -->
          <div class="modal-footer">

            <button type="button" class="btn btn-dark" id="botonAceptar">Crear</button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
            
          </div>
    
        </div>
      </div>
    </div>
 </section3>


</body>
<footer th:replace="layouts/base::footer('curso')"></footer>

</html>