<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head('Inicio','home')"></head>
<body>

<header th:replace="layouts/base::header()"></header>

<div class="container ">
    <h1 class="mt-4">Inicio</h1>
    <hr/>
    <span>Bienvenido a la herramienta de gestion de la Academia</span>
    <br><br><br>
      
      <h1>LA ACADEMIA EN NUMEROS</h1>
      <hr/>


  <div class="row">
      <div class="card border-secondary w-45 mr-md-5 mt-md-3">
          <div class="card-header bg-success">
              <h2 class="card-title">Etapas</h2>
          </div>
        <div class="card-body">
              <div class="form-group">
                  <canvas id="doughnut-chart"></canvas>              
                </div>
        </div> 
    </div>

    <div class="card border-secondary w-45 ml-md-5 mt-md-3">
        <div class="card-header bg-success">
            <h2 class="card-title">Altas y Bajas</h2>
        </div>
      <div class="card-body">
            <div class="form-group">
                <canvas id="bar-chart-grouped"></canvas>              
              </div>
      </div> 
  </div>
  </div>
</div>
</body>

<footer>
    <p>Copyright &copy; Academia</p>
    
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

    <!--  Chartist Plugin  -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@2.8.0}"></script>
    <script th:src="@{/js/grafica1.js}"></script>
    <script th:src="@{/js/grafica2.js}"></script>
    

</footer>
</html>