<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/base::head('Profesores','profesor')"></head>

<body>
  <header th:replace="layouts/base::header()"></header>

  <div class="container mt-3 mb-3 fd animated bounceInDown">
    <div class="fc">
      <div class="col-6">
        <h1 class="pr-3 pl-4 animated bounce">Profesores</h1>
        <hr class="mr-3 ml-3" />
      </div>
      <div class="card mt-md-3 animated bounce">
        <div class="card-header">
          <h2 class="card-title ml-4">Busqueda de profesores</h2>
        </div>
        <div class="card-body">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-font"></i>
              </span>
            </div>

            <input type="text" class="form-control" id="inputNombreBusqueda" placeholder="Nombre del Profesor" />
          </div>

          <div class="form-group input-group">
            <input type="number" class="form-control" id="inputNifBusqueda" placeholder="Numero de Identificación" />

            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="icon-archive"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer text-center ">
          <button type="button" class="btn btn-light" id="btn1">
            Buscar
          </button>
          <button type="button" class="btn btn-light" id="limpiar">
            Limpiar
          </button>
        </div>
      </div>

      <div class="card mt-md-3 animated bounce">
        <div class="card-header">
          <h2 class="card-title">Resultado de la busqueda</h2>
        </div>
        <div class="card-body">
          <div class="form-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal"
              data-titulo="Nuevo Profesor" data-boton="Crear" id="btnCrear">
              Nuevo Profesor
            </button>
            <button type="button" class="btn btn-outline-light" data-toggle="" data-target="#myModal"
              data-titulo="Datos personales" data-boton="Modificar" id="btnEditar">
              Datos personales
            </button>
            <button type="button" class="btn btn-outline-light" data-toggle="" data-target="#myModal2"
              id="btnclases">
              Clases
            </button>
            <button type="button" class="btn btn-outline-light" id="btnbaja">
              Eliminar Profesor
            </button>
          </div>
          <div class="form-group">
            <div class="table-responsive">
              <table class="table table-bordered table-light " id="A-tabla">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">NIF</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog flipInY animated">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="p-3 mb-2 text-white bg-dark">
            <div class="modal-header">
              <h4 class="modal-title">Nuevo profesor</h4>
              <button type="button" class="close" data-dismiss="modal">
                ×
              </button>
            </div>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="col">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> Nombre: </span>
                </div>

                <input type="text" class="form-control " id="inputNombre" placeholder="Nombre" />

                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-pencil"></i>
                  </span>
                </div>
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-info"></i>
                  </span>
                </div>

                <input type="text" class="form-control" id="inputApellido1" placeholder="Primer Apellido" />

                <div class="input-group-prepend">
                  <span class="input-group-text"> Primer Apellido </span>
                </div>
              </div>
              <div class="form-group input-group">

                <input type="text" class="form-control" id="inputApellido2" placeholder="Segundo Apellido" />

                <div class="input-group-prepend">
                  <span class="input-group-text"> Segundo Apellido </span>
                </div>
              </div>

              <div class="form-group input-group">

                <div class="input-group-prepend">
                  <span class="input-group-text"> NIF </span>
                </div>

                <input type="number" class="form-control" id="inputNif" placeholder="Numero de Identificación" />

                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-exclamation"></i>
                  </span>
                </div>

              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> Telefono </span>
                </div>

                <input type="number" class="form-control" id="inputTelefono" placeholder="Numero de Telefono [3xxxxx]" />

                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-phone"></i>
                  </span>
                </div>

              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> Correo </span>
                </div>

                <input type="email" class="form-control" id="inputCorreo" placeholder="Correo Electrónico" />

                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-google-plus"></i>
                  </span>
                </div>

              </div>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-star"></i>
                  </span>
                </div>

                <input type="text" class="form-control" id="inputTitulacion" placeholder="Titulacion" />

                <div class="input-group-prepend">
                  <span class="input-group-text"> Titulación </span>
                </div>

              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" id="botonAceptar">
              Crear
            </button>
            <button type="button" class="btn btn-dark" data-dismiss="modal">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section5>
    <!-- The Modal -->
    <div class="modal fade" id="myModal2" aria-hidden="true">
      <div class="modal-dialog flipInY animated">
        <div class="modal-content">

          <!-- Modal Header -->

          <div class="p-3 mb-2 text-white bg-dark">
            <div class="modal-header">
              <h4 class="modal-title">Horario del profesor</h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="table-responsive">
              <table id="tabla" class="table table-bordered table-sm text-center table-dark">
                <thead class="thead-dark">
                  <tr class="head">
                    <th>Hora</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">08:00-9:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">09:00-10:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">10:00-11:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">11:00-12:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">12:00-13:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">13:00-14:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">14:00-15:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">15:00-16:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">16:00-17:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">17:00-18:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">18:00-19:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">19:00-20:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                  <tr>
                    <th scope="row">20:00-21:00</th>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal" id="regresar">Regresar </button>

          </div>

        </div>
      </div>
    </div>
  </section5>

  <footer th:replace="layouts/base::footer('profesor')"></footer>
</body>

</html>