<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mantenimiento de Asignaturas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/curso.css">

</head>

<body>
    <header th:replace="layouts/base::header()"></header>

<div class="container">
  <h1>Mantenimiento de Asignaturas</h1>
  <hr/>
      <div class="card">
        <div class="card-header bg-success">
          <h2 class="card-title">Asignaturas Actuales</h2>
        </div>
      <div class="card-body">
        <div class="form-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Nueva Asignatura" data-boton="Crear">Nueva Asignatura</button>
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Modificar Asignatura" data-boton="Modificar">Editar Asignatura</button>
                  <button type="button" class="btn btn-outline-secondary">Eliminar Asignatura</button>
      </div>
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Curso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div> 
  </div>
</div>

<section3>
    
    <!-- The Modal -->
    <div class="modal" id="myModal3" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="p-3 mb-2 bg-success text-white">
              <div class="modal-header">
                  <h4 class="modal-title">Crear Asignatura</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
          </div>
          
    
          <!-- Modal body -->
          <div class="modal-body">              
              <div class="row">
              <div class="col">
                      <div class="form-group">
                          <div class="col">
                            <input type="text" class="form-control" id="InputText" placeholder="Nivel">
                          </div>
                      </div>
                <div class="form-group">
                    <div class="col">
                      <input type="text" class="form-control" id="InputText" placeholder="Etapa">
                    </div>
                </div>
            </div>       
          </div>
        </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">

            <button type="button" class="btn btn-success" id="boton">Crear</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            
          </div>
    
        </div>
      </div>
    </div>
 </section3>

<footer>
    <p>Copyright &copy; Academia</p>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/asignatura.js"></script>
</footer>
</body>


</html>