<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mantenimiento de Cursos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/curso.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Academia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="home.html">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="profesor.html">Profesores</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="alumno.html">Alumnos</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="clase.html">Clases</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Mantenimiento
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                              <a class="dropdown-item" href="curso.html">Cursos</a>
                              <a class="dropdown-item" href="../templates/asignatura.html">Asignaturas</a>
                            </div>
                    </li>
                  </ul>
                    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                            <li class="nav-item"><a class="nav-link" href="#">Usuario</a></li>
                            <li class="nav-item"><a class="nav-link" href="login.html"> Salir</a></li>
                    </ul>
                </div>
              </nav>
</header>

<div class="container">
  <h1>Mantenimiento de Cursos</h1>
  <hr/>
      <div class="card">
        <div class="card-header bg-success">
          <h2 class="card-title">Cursos Actuales</h2>
        </div>
      <div class="card-body">
        <div class="form-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Nuevo Curso" data-boton="Crear">Nuevo Curso</button>
                  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal3" data-titulo="Modificar Curso" data-boton="Modificar">Editar Curso</button>
                  <button type="button" class="btn btn-outline-secondary">Eliminar Curso</button>
      </div>
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nivel</th>
            <th scope="col">Etapa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div> 
  </div>
</div>

<section3>
    
    <!-- The Modal -->
    <div class="modal" id="myModal3" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="p-3 mb-2 bg-success text-white">
              <div class="modal-header">
                  <h4 class="modal-title">Crear Curso</h4>
                  <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
          </div>
          
    
          <!-- Modal body -->
          <div class="modal-body">              
              <div class="row">
              <div class="col">
                      <div class="form-group">
                          <div class="col">
                            <input type="text" class="form-control" id="InputText" placeholder="Nivel">
                          </div>
                      </div>
                <div class="form-group">
                    <div class="col">
                      <input type="text" class="form-control" id="InputText" placeholder="Etapa">
                    </div>
                </div>
            </div>       
          </div>
        </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">

            <button type="button" class="btn btn-success" id="boton">Crear</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            
          </div>
    
        </div>
      </div>
    </div>
 </section3>

<footer>
    <p>Copyright &copy; Academia</p>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/curso.js"></script>
</footer>
</body>


</html>