<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../templates/home.html">Academia</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
      <li><a href="../templates/profesor.html"><span class="glyphicon glyphicon-user"></span> Profesores</a></li>
      <li><a href="../templates/alumno.html"><span class="glyphicon glyphicon-arrow-up"></span> Alumnos</a></li>
      <li><a href="../templates/clase.html"><span class="glyphicon glyphicon-folder-close"></span> Clases</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-wrench "></span>Mantenimiento </span></a>
        <ul class="dropdown-menu">
          <li><a href="../templates/curso.html">Cursos</a></li>
          <li><a href="../templates/asignatura.html">Asignaturas</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuario</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
      </ul>
  </div>
</nav>
</header>

<div class="container">
  <div class="row">
    <div>
    <h1>INICIO</h1>
    <hr/>
    <p>Bienvenido a la herramienta de gestion de la Academia</p>
  </div>
    <div>
      <h1>LA ACADEMIA EN NUMEROS</h1>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="card col col-md-6">
      <canvas id="doughnut-chart"></canvas>
    </div>
    <div class="card col col-md-6">
      <canvas id="bar-chart-grouped"></canvas>
    </div>
  </div>
</div>

<footer>
    <p>Copyright &copy; Academia</p>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--  Chartist Plugin  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../static/js/grafica1.js"></script>
    <script src="../static/js/grafica2.js"></script>
    

</footer>
</body>


</html>