<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/base::head('Home','home')"></head>

<body>
  <header th:fragment="header()">

<div class="container">
  <div class="row">
    <div>
    <h1>INICIO</h1>
    <hr/>
    <p>Bienvenido a la herramienta de gestion de la Academia</p>
  </div>
    <div>
      <h1>LA ACADEMIA EN NUMEROS</h1>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="card col col-md-6">
      <canvas id="doughnut-chart"></canvas>
    </div>
    <div class="card col col-md-6">
      <canvas id="bar-chart-grouped"></canvas>
    </div>
  </div>
</div>

<footer th:replace="layouts/base::footer()"> 
    
    
    <!--  Chartist Plugin  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../static/js/grafica1.js"></script>
    <script src="../static/js/grafica2.js"></script>
    

</footer>
</body>


</html>