<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css}">
</head>

<body>
<!-- partial:index.html -->
<div class="login-page">
  <div class="form">
    <form class="register-form" th:action="@{/index}" method="post">
        <h1>Registro</h1>
        <input type="text" placeholder="Usuario" id="inputUsuario"/>
        <input type="password" placeholder="Clave" id="inputClave"/>
        <input type="email" placeholder="Email"/>
        <button>Crear Usuario</button>
        <p class="message">Ya registrado? <a href="#">Inicia</a></p>
    </form>
 
    <form class="login-form" th:action="@{/index}" method="post">
        <h1>Iniciar Sesion</h1>
        <input type="text" placeholder="Usuario" id="inputUsuario"/>
        <input type="password" placeholder="Clave" id="inputClave"/>
      <button>Iniciar Sesion</button>
      <p class="message">No registrado? <a href="#">Crear una cuenta</a></p>
    </form>
   
  </div>
</div>


</body>
<footer>
    <p>Copyright &copy; Academia</p>
    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js}"></script>
    <script  th:src="@{/js/login.js}"></script>
  </footer>
</html>