<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<!-- partial:index.html -->
<div class="login-page">
  <div class="form">
    <form class="register-form">
        <h1>Registro</h1>
        <input type="text" placeholder="Usuario" id="inputUsuario"/>
        <input type="password" placeholder="Clave" id="inputClave"/>
        <input type="email" placeholder="Email"/>
        <button>Crear Usuario</button>
        <p class="message">Ya registrado? <a href="#">Inicia</a></p>
    </form>

    <form class="login-form">
        <h1>Iniciar Sesion</h1>
        <input type="text" placeholder="Usuario" id="inputUsuario"/>
        <input type="password" placeholder="Clave" id="inputClave"/>
      <button>Iniciar Sesion</button>
      <p class="message">No registrado? <a href="#">Crear una cuenta</a></p>
    </form>
  </div>
</div>


</body>
<footer>
    <p>Copyright &copy; Academia</p>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="../static/js/login.js"></script>
  </footer>
</html>